default_language_version:
  python: python3

default_stages: [commit, push]

ci:
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit suggestions"
  autoupdate_schedule: weekly

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
        args: [--assume-in-merge]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
        exclude: devcontainer.json
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-added-large-files
        args: ["--maxkb=500", "--enforce-all"]
      - id: detect-private-key

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: ["--fix", "-v"]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.374
    hooks:
      - id: pyright
        args: ["--verbose", "--project=."]
        entry: poetry run pyright
        language: system
        types: [python]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
